<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

    <body class="productsVista">
        <%- include('../partials/header') %>

            <main>



                <div class="subtitulo-destacado">
                    <h3>PRODUCTOS DESTACADOS</h3>
                </div>

                <div class="flex-row d-flex flex-wrap justify-content-around">
                    <% products.forEach(product=> { %>
                        <div class="col-10 col-md-5 col-lg-3 d-flex flex-column">
                            <a style="flex-grow: 1" class="w-100 d-flex flex-wrap justify-content-center flex-column" href="/products/productDetail/<%= product.id %> ">


                                <img class="w-100" src="/images/products/<%= product.images[0].file %>" alt="">
                            </a>
                                <div class="detalle" style="margin: 0 auto;">
                                    <h2>
                                        <%= product.name %>
                                    </h2>
                                </div>
                            
                        </div>
                        

                        <% }) %>

                </div>




            </main>
            <%- include('../partials/footer') %>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
                    crossorigin="anonymous"></script>
    </body>

</html>