<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="admin">

        <%- include('../partials/header') %>
            <main>
              <% if (locals.userLogin) { %>

                <% if (locals.userLogin.rol === 'admin') { %>
                  <ul class="nav justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link active" href="/products/admin"> Administración</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/products/add"> Agregar Producto</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuario
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/users/profile">Mi perfil</a></li>
                        <li><a class="dropdown-item" href="/products/productCart">Carrito</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/users/logout">Cerrar sesión</a></li>
                      </ul>
                    </li>
                  </ul>
         
                <% }else{ %>
                  <ul class="nav justify-content-center">
                   
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuario
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/users/profile">Mi perfil</a></li>
                        <li><a class="dropdown-item" href="/products/productCart">Carrito</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/users/logout">Cerrar sesión</a></li>
                      </ul>
                    </li>
                  </ul>
                <% } %>
                
            <% } %>
                <div class="row mx-auto"> 
                    <div class="col-12 col-lg-10  mb-5 mx-auto"> 
                        <div class="card shadow mt-5"> 
                            <div class="card-header">
                                <%= title %> 
                            </div>
                           
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th class="id" scope="col">#</th>
                                        <th class="admin-img" scope="col">Imagen</th>
                                        <th class="admin-name" scope="col">Nombre</th>
                                        <th class="admin-promo" scope="col">Promocion</th>
                                        <th class="admin-price" scope="col">Precio</th>
                                        <th class="admin-" scope="col"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% products.forEach(product => { %>
                                            <tr>
                                                <th scope="row"><%= product.id %> </th>
                                                <td class="admin-img"><img width="100" src="/images/products/<%= product.image %> " alt=""></td>
                                                <td  class="admin-name"><%= product.name %> </td>
                                                <td  class="admin-discount"><%= product.discount  %></td>
                                                <td class="admin-price"><%= product.price  %></td>
                                                <td class="admin-">
                                                 <div class="d-flex justify-content-around"> 
                                                    <a href="/products/edit/<%= product.id %> " class="btn btn-sm btn-success" style="width: 35px;"><i class="fas fa-edit"></i></a>
                                                    <div>
                                                      <form action="/products/destroy/<%= product.id %>?_method=DELETE " method="POST">
                                                        <button type="submit" class="btn btn-sm btn-danger" style="width: 35px;"><i class="fas fa-trash"></i></button>
                                                      </form>
                                                    </div>
                                                 </div>
                                                </td>
                                              </tr>
                                        <% }) %>
                                     
                                     
                                    </tbody>
                                  </table>
                                  
                            </div>

                        </div>

                    </div>

                    </div>
                </div>
                

            </main>

            <%- include('../partials/footer') %>
    </body>

</html>