<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="admin">

        <%- include('../partials/header') %>
            <main>
                <div class="row"> 
                    <div class="col-12 col-lg-10 mx-auto"> 
                        <div class="card shadow mt-5"> 
                            <div class="card-header">
                                <%= title %> 

                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Imagen</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Promocion</th>
                                        <th scope="col">Precio</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% products.forEach(product => { %>
                                            <tr>
                                                <th scope="row"><%= product.id %> </th>
                                                <td><img width="100" src="/images/<%= product.image %> " alt=""></td>
                                                <td><%= product.name %> </td>
                                                <td><%= product.promo  %></td>
                                                <td><%= product.price  %></td>
                                              </tr>
                                        <% }) %>
                                     
                                     
                                    </tbody>
                                  </table>
                                  
                            </div>

                        </div>

                    </div>

                    </div>
                </div>
                

            </main>

            <%- include('../partials/footer') %>
    </body>

</html>