<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="admin">

        <%- include('../partials/header') %>
            <main>
                <div class="row mx-auto"> 
                    <div class="col-12 col-lg-10  mb-5 mx-auto"> 
                        <div class="card shadow mt-5"> 
                            <div class="card-header">
                                <%= title %> 
                            </div>
                           
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th class="id" scope="col">#</th>
                                        <th class="admin-img" scope="col">Imagen</th>
                                        <th class="admin-name" scope="col">Nombre</th>
                                        <th class="admin-promo" scope="col">Promocion</th>
                                        <th class="admin-price" scope="col">Precio</th>
                                        <th class="admin-" scope="col"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% products.forEach(product => { %>
                                            <tr>
                                                <th scope="row"><%= product.id %> </th>
                                                <td class="admin-img"><img width="100" src="/images/<%= product.image %> " alt=""></td>
                                                <td  class="admin-name"><%= product.name %> </td>
                                                <td  class="admin-promo"><%= product.promo  %></td>
                                                <td class="admin-price"><%= product.price  %></td>
                                                <td class="admin-">
                                                 <div class="d-flex justify-content-around"> 
                                                    <a href="/product/edit" class="btn btn-sm btn-success" style="width: 35px;"><i class="fas fa-edit"></i></a>
                                                    <div>
                                                      <form action="" method="POST">
                                                        <button type="submit" class="btn btn-sm btn-danger" style="width: 35px;"><i class="fas fa-trash"></i></button>
                                                      </form>
                                                    </div>
                                                 </div>
                                                </td>
                                              </tr>
                                        <% }) %>
                                     
                                     
                                    </tbody>
                                  </table>
                                  
                            </div>

                        </div>

                    </div>

                    </div>
                </div>
                

            </main>

            <%- include('../partials/footer') %>
    </body>

</html>