<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body class="login-register">
    <%- include('../partials/header') %> 

    <main>

        <div class="contenedor">
            
                <div class="Logo">
                    <img src="/images/logo2 4.png" alt="">
                </div>
            
            

        
            <div class="ingresar">
                <h3 class="bienvenido">Crea tu cuenta</h3>

                    <form action="" method="POST" id="form-register" autocomplete="off" novalidate>

                        <div class="input-contenedor">
                            <label for="nombre">Nombre completo</label>                           
                            <input type="text" placeholder="Ingresa tu nombre completo" id="name" name="name" value="<%= locals.old && old.name ? old.name : null %>">
                            <span id="error-name" class="small text-danger"><%= locals.errores && errores.name ? errores.name.msg : null %> <br> </span>
                            <span id="info-name" class="small text-info"></span>
                        </div>


                        <div class="input-contenedor">
                            <label for="email">Email</label>
                            <input type="email" placeholder="Ingresa tu email" id="email" name="email">
                            <span id="error-email" class="small text-danger"><%= locals.errores && errores.email ? errores.email.msg : null %> </span>
                            <span id="info-email" class="small text-info"></span>
                        </div>

                        <div class="input-contenedor">
                            <label for="pass">Contraseña</label>
                            <input type="password" placeholder="Ingresa tu contraseña" id="pass" name="password" minlength="8">
                            <span id="error-password" class="small text-danger"><%= locals.errores && errores.password ? errores.password.msg : null %> </span>
                            <span id="info-password" class="small text-info"></span>
                        </div>

                        <div class="input-contenedor">
                            <label for="pass">Confirma tu contraseña</label>
                            <input type="password" placeholder="Confirma tu contraseña" id="pass2" name="password2" minlength="8">
                            <span id="error-password2" class="text-danger"><%= locals.errores && errores.password2 ? errores.password2.msg : null %> </span>
                        </div>


                        <!-- iniciar-sesion -->
                        <div>
                            <button class="btn-crear" type="submit">Crear</button>
                        </div>

                        <div class="comentario">
                            <p>Crea tu cuenta con</p>
                        </div>

                        <!-- botones redes -->
                        <div class="redes">
                            <div>
                                <button class="btn-facebook"><i class="fab fa-facebook"></i>Facebook</button>
                            </div>
                            
                            <div>
                                <button class="btn-google"><i class="fab fa-google"></i>Google</button>
                            </div>

                        </div>
                        

                        <!-- crea tu cuenta -->

                        <div class="crea-cuenta">
                            <p>¿Ya tienes una cuenta?</p>
                            <a href="/users/login">inicia sesión</a>
                            
                        </div>
                        
                
                </div>
        


            </form>
        </div>
        
    </main>
    <%- include('../partials/footer') %>
    <script src="/javascripts/registerValidator.js"></script>
</body>
</html>